<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Test Ignore</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/stylesheet.css">
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

<header>
  <ul>
    <li><a href="/"><b>Test Ignore</b></a></li>
    <li><a href="/about">About</a></li>
    <li style="float:right"><a class="active" href="https://wemakeinter.net">from We Make Internet</a></li>
  </ul>
</header>

<main>

<div id="video-container">
  {{ iframe | safe }}
</div>
<div class=controls hx-swap=innerHTML hx-target=this>
  <button disabled>Prev</button>
  <button id=next-button hx-get=/videos/2>Next</button>
</div>
<div class=controls>
  <label for=seconds>Autoscroll<input type=checkbox onchange=autoscrollChange(this) autocomplete=off></label>
  <label for=seconds><input type=number value=10 id=seconds> seconds</label>
</div>
<footer>
  <a href="https://htmx.org">
    <img class=banner
         width=300px
         src="/static/htmx-the-right-way.jpeg"
         alt="A banner image that says 'site created with htmx, the right way', flanked by two
                pixelated notepads"
         >
  </a>
</footer>
</main>

<script>
let autoscrollInterval

function disableAutoscroll () {
  if (autoscrollInterval) {
    clearInterval(autoscrollInterval)
    autoscrollInterval = null
  }
}

function setAutoscroll (timeInMs) {
  disableAutoscroll()
  const clickNext = () => htmx.trigger('#next-button', 'click')
  autoscrollInterval = setInterval(clickNext, timeInMs)
}

function autoscrollChange(checkbox) {
  const secondsElem = document.getElementById('seconds')
  const isOn = checkbox.checked
  if (isOn) {
    setAutoscroll(secondsElem.value * 1000)
    secondsElem.setAttribute('disabled', true)
  } else {
    disableAutoscroll()
    secondsElem.removeAttribute('disabled')
  }
}

</script>
